<h1>Bienvenue sur Time Bomb | The game</h1>
<p>
    Big Ben surplombe la charmante ville de Londres tandis qu’elle cache, sous son tic-tac régulier, le son de la bombe posée par Moriarty . C’est alors que Sherlock se précipite vers la grande tour pour tenter de la désamorcer ! Aiderez-vous Sherlock à désamorcer la bombe et sauvez Big Ben ? Ou assisterez-vous plutôt Moriarty dans son plan machiavélique ? Lancez-vous dans une partie pour le découvrir !
    Time Bomb est un jeu de bluff et de déduction rapide et fun où vous ressentez la tension monter tout au long de la parti.
    Au début de la partie, vous découvrez secrètement à quelle équipe, de Sherlock ou Moriarty, vous appartenez, et tentez d’identifier vos partenaires sans vous faire démasquer par vos adversaires. Tour à tour, choisissez un câble à couper chez un autre joueur pour, selon votre équipe, tenter de désamorcer ou de faire exploser la bombe. L’équipe de Sherlock gagne la partie si elle parvient à désamorcer la bombe, tandis que l’équipe de Moriarty gagne la partie si elle parvient à faire exploser la bombe qui détruira Big Ben.</p>

<h2>Nombre de joueurs :</h2>
<select>
    <option>4 joueurs</option>
    <option>5 joueurs</option>
</select>

<app-carte></app-carte>

