<div class="toolbar" role="banner">
    Test général
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">TIME BOMB V1</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/homepage">Accueil</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/plateau">Plateau de jeu</a>
            </li>

        </ul>
    </div>
</nav>


<router-outlet></router-outlet>
